.fejlec {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
}

.fejlec h1{
    margin-left: 10px;
    min-width: 20vw;
}

.logout-button {
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.logout-button:hover {
    background-color: rgb(8, 91, 107);
}

@media (max-width: 400px) and (max-height: 850px) { 
    .fejlec {
        font-size: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px
    }
    
    .fejlec h1{
        min-width: 10vw;
        margin-left: 0;
        margin-right: 5px;
    }
    
    .logout-button {
        height: 20px;
        width: 100px;
        margin-top: 0px;
        margin-right: 0px;
        font-size: 10px;
    }
  }