.fejlec {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
}

.fejlec h1{
    margin-left: 10px;
    min-width: 20vw;
}

.logout-button {
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.logout-button:hover {
    background-color: rgb(8, 91, 107);
}