.kepzes-tablazat{
    margin-top: 80px;
    margin-bottom: 80px;
}

p{
    width: 92%;
    margin-left: 3%;
    text-align: justify;
}

.leiras{
    text-decoration: underline;
}

.kepzes-button{
    margin-left: 3%;
    width: 200px;
}

@media (max-width: 400px) and (max-height: 850px) {
    .kepzes-tablazat{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    p{
        margin-left: 3%;
        font-size: 14px;
    }
    
    .leiras{
        text-decoration: underline;
        font-size: 18px;
    }
    
    .kepzes-button{
        height: 25px;
        font-size: 12px;
        width: 100px;
    }
  }