td, tr, th{
    border: 3px solid black;
    text-align: center;
}

table{
    margin-left: 3%;
    margin-right: 3%;
    border-collapse: collapse;
}

th{
    width: 20%;
    height: 50px;
    background-color: gray;
}

tr{
    background-color: rgb(140, 186, 226);
}

button{
    background-color: rgb(234, 109, 109);
    max-height: 35px;
    max-width: 150px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(241, 166, 166);
}

@media (max-width: 400px) and (max-height: 850px) {
    td, tr, th{
        border: 2px solid black;
        font-size: 12px;
    }
    
    th{
        width: 10%;
        height: auto;
    }
}