.lablec {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: white;
}

.lablec span {
    margin: 10px;
}

@media (max-width: 400px) and (max-height: 850px) {
    .lablec {
        font-size: 8px;
    }
}