.profile-data {
    display: flex;
}

.profile-data-card {
    border: 2px solid black;
    width: 70%;
}

.profile-data-card_row {
    display: flex;
    border: 1px solid red;
}

.profile-data-card_row p {
    margin-right: 50px;
}