.uj-cert-redirect-button {
    max-width: 50vw;
    max-height: 150px;
    width: 10%;
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: greenyellow;
    border-radius: 5px;
}

.uj-cert-redirect-button:hover {
    cursor: pointer;
    background-color: chartreuse;
}